@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Londrina+Solid:wght@100;300;400;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary;
  }
}

@layer utilities {
  /* Remove the white autofill background */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.hero-overlay {
  background: linear-gradient(
    to top,
    #181a1c 0%,
    rgba(24, 26, 28, 0.8) 30%,
    rgba(24, 26, 28, 0.4) 60%,
    transparent 85%
  );
}

.poster-overlay {
  background: linear-gradient(to top, #181a1cbc 40%, transparent 80%);
}
